* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  touch-action: none;
  pointer-events: auto;
  width: 100vw;
  height: 100vh;
}

.container , .container canvas { 
    touch-action: pan-y;
     touch-action: none;
}
